.container {
  display: grid;
  grid-template-columns: 320pt auto;
  grid-template-areas: "forms loads";
  width: 100vw;
  height: 100vh;
}

.forms {
  display: grid;
  grid-area: forms;
}

.loads {
  display: grid;
  grid-area: loads;
  align-content: center;
}
